.row{
    margin: 0;
}
.accordeon{
    background-color: grey;
    min-width: 70px;

}
.title{
    margin: 0 15px;
    background-color: darkgray;
    flex-grow: 1;
    display: none;
}
.content{
    display: none;
}
.icon:hover{
    cursor: pointer;

}
.accordeon.active .title{
    display: block;
}
.item.active .content{
    display: block;
}
.main-content .title{
    display: block;
}
